.loader_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 22px;
  left: 0;
}
.loader {
  position: relative;
  height: 2px;
  background-color: #8d9ff3;
  transition: 0.2s;
  width: var(--width);
  text-align: center;
  color: aliceblue;
  overflow: hidden;
}
.loader_wrapper:hover .loader {
  height: 22px;
}
