* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    touch-action: manipulation;
}
body {
    background-color: #202020;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
