.menu {
  margin-top: 20px;
  width: 450px;
}

.btn {
  background-color: #571dc2;
  border-radius: 5px;
  margin: 5px 0;
  transition: 0.1s;
  padding: 15px 0;
  color: #e2e2e2;
  font-size: 16px;
  text-align: center;
  width: 100%;
  position: relative;
}

.btn::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: #0000003d;
  height: 100%;
  width: var(--width, 0);
  transition: 0.2s;
}
.btn {
  opacity: 0.9;
}
.btn.active {
  opacity: 1;
  cursor: pointer;
}
.btn.active:hover {
  opacity: 0.9;
}
.btn.active::before {
  display: none;
}
.display_none {
  display: none;
}
.main_btn {
  font-size: 22px;
  background-color: #c848cc;
  opacity: 1;

  padding: 25px 0;
}
.main_btn::before,
.prestige_btn::before {
  display: none;
}
.prestige_btn {
  background-color: #4876cc;
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 960px) {
  .menu {
    width: 100%;
    padding: 10px;
  }
}
